<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CZD.HessianCSharp" version="1.0.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="ExcelDataReader" version="3.3.0" targetFramework="net45" />
  <package id="ExcelDataReader.DataSet" version="3.3.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net451" />
  <package id="Microsoft.CSharpClient-for-Kafka" version="1.0.47" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net451" />
  <package id="Redbus" version="1.0.3" targetFramework="net451" />
  <package id="SLaks.ExcelExport" version="1.0.0.0" targetFramework="net45" />
  <package id="SourceGrid" version="4.4.0" targetFramework="net451" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net35" requireReinstallation="True" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net45" />
  <package id="ZooKeeper.Net" version="3.4.6.2" targetFramework="net451" />
</packages>